name: balenaCloud

on:
  push:
    tags:
      - "*"
jobs:
  deploy-release:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        arch: [aarch64]
        environment: [{ tld: balena-staging.com, token_prop_name: BALENA_STAGING_TOKEN }]
        fleet: ['thgreasinomembersorg/thgreasinomembersorg/action-tester']
    steps:
      - uses: actions/checkout@v2
      - uses: balena-io/balena-ci@master
        name: 'Deploy to ${{ matrix.environment.tld }}'
        with:
          balena_token: ${{ secrets[matrix.environment.token_prop_name] }}
          fleet: ${{ matrix.fleet }}
          environment: ${{ matrix.environment.tld }}
